# Blocklist files/folders in same directory as the .gitignore file
/*

# Includelist some files
!.gitignore

!Il\ mio\ Drive/
Il\ mio\ Drive/*

!Il\ mio\ Drive/UNIVERSITA/
Il\ mio\ Drive/UNIVERSITA/*

!Il\ mio\ Drive/UNIVERSITA/3.\ Magistrale/
Il\ mio\ Drive/UNIVERSITA/3.\ Magistrale/*

!Il\ mio\ Drive/UNIVERSITA/3.\ Magistrale/2.2\ Autonomous\ and\ Adaptive\ Systems/
Il\ mio\ Drive/UNIVERSITA/3.\ Magistrale/2.2\ Autonomous\ and\ Adaptive\ Systems/*

!Il\ mio\ Drive/UNIVERSITA/3.\ Magistrale/2.2\ Autonomous\ and\ Adaptive\ Systems/AAS/
Il\ mio\ Drive/UNIVERSITA/3.\ Magistrale/2.2\ Autonomous\ and\ Adaptive\ Systems/AAS/*

!Il\ mio\ Drive/UNIVERSITA/3.\ Magistrale/2.2\ Autonomous\ and\ Adaptive\ Systems/AAS/.obsidian